<main>
  <div class="content-wrapper">
    <div class="left-section">
      <h1 class="content-logo-title">Fluxa</h1>
      <h2 class="content-title">
        <span>Powerful workflow</span> automation, built for the future.
      </h2>
      <p class="content-description">
        Design pipelines with the speed of no-code or the precision of code. Self-host or run in the cloud with full
        control. Fluxa empowers you to orchestrate, transform, and scale data workflows faster than ever.
      </p>
    </div>
    <div class="right-section">
      <div class="mock-table-ui">
        <div class="mock-table-ui_header"></div>
        <ul class="mock-table-ui-list">
          @for (item of itemCount; track item.id) {
            <li class="mock-table-ui-list_item">
              <span class="mock-table-ui-list_item-mock-content"></span>
              <span class="mock-table-ui-list_item-mock-action"></span>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</main>
